header{
    background-image: url("img/fondo2.jpg");
    background-repeat: no-repeat;
    border-radius: 10px;
    text-align: center;
    margin: 60px;

}
html{
    font-size:16px;
    background-color: #e89f71;
    background-size: cover;
}

body,html{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("img/bateria.gif");
    background-repeat: no-repeat;
}

.keys{
    display:flex;
    flex:1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key{
    border:.5rem solid black;
    border-radius: .5rem;
    margin:1rem;
    font-size: 1.7rem;
    padding:1rem .5rem;
    transition:all .03s ease;
    width: 20rem;
    text-align: center;
    color:rgb(7, 7, 6);
    background: rgba(0,0,0,0,4);
    text-shadow: 0 0 .5rem rgb(204, 21, 21);
}

.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd{
    display: block;
    font-size: 4rem;
}

.sound{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing:1rem;
    color:#ffc600;
}
img{border:solid 2px #000; margin:2px

}

.selected{
   box-shadow:0px 12px 22px 1px #666;
}
h2, p{
    text-align: center;
    font-size: 1.5rem;

}

li,ul{
    text-align: start;
    font-size: 1.5rem;
}
